{% extends 'base.html' %}

{% block content %}
    <h1>Bienvenue</h1>

    <p>La franc-maçonnerie a pour but d'améliorer à la fois l'homme et la société.</p>

    <p>Pour y parvenir, ses membres travaillent en loge dans un esprit de tolérance et de fraternité. Les sujets abordés concernent essentiellement le symbolisme, la philosophie, la morale et la justice sociale.</p>

    <p>Les travaux impliquent une démarche d’apprentissage tournée à la fois vers soi (s’améliorer) et vers le monde extérieur (améliorer la société).</p>

    <p>Les réunions se déroulent dans un cadre rituélique strict qui permet à des hommes et des femmes de bonne volonté, quelles que soient leurs origines, d’échanger dans le respect de la parole de chacun.</p>

    <p>Les francs-maçons et franc-maçonnes se réfèrent au mythe de la construction du temple du roi Salomon ainsi qu'à l'exigence de perfection des bâtisseurs de cathédrales : tailleurs de pierre, maçons, architectes... Ils utilisent de manière symbolique les outils de ces bâtisseurs.</p>

    <p>La franc-maçonnerie peut être définie sommairement ainsi : une société discrète à la fois philosophique (qui aime la sagesse), philanthropique (qui aime l'humanité) et progressive (qui ne se confine pas dans le passé et œuvre pour l'avenir).</p>

    <p>Organisés en loges masculines, féminines ou mixtes, des francs-maçons travaillent ainsi depuis plus de deux siècles.</p>
    
    <p>Anonymes ou célèbres, ils ont été et sont les acteurs de l'histoire Maçonnique.</p>

{% endblock %}
