{% extends 'base.html' %}

{% block content %}
    <h1>Obédiences</h1>
    
    <p>Les obédiences sont des fédérations de loges qui ont en commun des règlements, des traditions, des rituels.</p>

    <article style="margin-bottom: 40px;">
        <h3>Grand Orient de France (GODF)</h3>
        <p>Obédience fondée en 1728, elle a pris son nom actuel et sa structure démocratique en 1773. Le GODF compte environ 50 000 membres. Il propose une démarche humaniste équilibrée entre réflexion sur la cité et travail initiatique, en laissant à ses membres une absolue liberté de conscience. Depuis 2010, il accepte l'initiation des femmes.</p>
    </article>

    <article style="margin-bottom: 40px;">
        <h3>Droit Humain (DH)</h3>
        <p>Obédience mixte fondée en 1893. Le DH compte environ 15 000 membres. Ils travaillent à la construction d’une société libre et fraternellement unie dans laquelle les femmes et les hommes, à égalité, trouvent le plus de développement matériel et moral possible.</p>
    </article>

    <article style="margin-bottom: 40px;">
        <h3>Grande Loge de France (GLDF)</h3>
        <p>Obédience masculine fondée en 1894. La GLDF compte environ 26 000 membres. Héritière de près de trois siècles d’histoire, elle propose une démarche initiatique qui s’appuie sur des valeurs de progression intellectuelle, éthique et spirituelle.</p>
    </article>

    <!-- Ajoutez les autres (GLFF, GLMU, GLMF, etc.) ici suivant le même modèle <article> -->

{% endblock %}